In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('open_pubs.csv', names=['fsa_id','name','address','postcode','easting','northing','latitude','longitude','local_authority'])

In [3]:
df.head()

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
1,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
2,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
3,75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
4,76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh

In [4]:
df.isnull().any()

fsa_id             False
name               False
address            False
postcode           False
easting            False
northing           False
latitude           False
longitude          False
local_authority    False
dtype: bool

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51331 entries, 0 to 51330
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fsa_id           51331 non-null  int64
 1   name             51331 non-null  object
 2   address          51331 non-null  object
 3   postcode         51331 non-null  object
 4   easting          51331 non-null  int64
 5   northing         51331 non-null  int64
 6   latitude         51331 non-null  object
 7   longitude        51331 non-null  object
 8   local_authority  51331 non-null  object
dtypes: int64(3), object(6)
memory usage: 3.5+ MB

In [6]:
df.duplicated().sum()

0

In [7]:
df["name"].value_counts()

The Red Lion         197
The Royal Oak        170
Red Lion             131
The Crown Inn        115
The White Hart       103
                    ...
The Study Room         1
The Snug Micropub      1
The Palatine           1
The Nib                1
Y Tai                  1
Name: name, Length: 36335, dtype: int64

In [8]:
df["postcode"].value_counts()

GU24 0NY    12
L2 6RE      11
ST14 8BD    10
CA1 1RP      9
PE25 1NJ     9
            ..
L13 0AR      1
L8 0QQ       1
L19 5NB      1
L16 6AW      1
LL11 5EA     1
Name: postcode, Length: 45886, dtype: int64

In [9]:
df["easting"].value_counts()

622675    767
493803     12
409926     10
557142      9
396816      8
         ...
334292      1
337745      1
334686      1
336198      1
329721      1
Name: easting, Length: 43229, dtype: int64

In [10]:
df["northing"].value_counts()

-5527598    767
 157729      13
 333201      10
 367144       9
 602766       8
           ...
 389962       1
 388485       1
 390347       1
 382916       1
 353785       1
Name: northing, Length: 43896, dtype: int64

In [11]:
df["local_authority"].value_counts()

County Durham         686
Leeds                 611
Cornwall              564
Wiltshire             549
Kirklees              525
                     ...
Shetland Islands       26
Orkney Islands         15
East Renfrewshire      12
Na h-Eileanan Siar     11
Isles of Scilly        10
Name: local_authority, Length: 360, dtype: int64

In [12]:
df["longitude"].value_counts()

\N           767
-0.655576     12
-1.853894     10
0.349896       9
-2.051721      8
            ...
-2.734245      1
-2.735554      1
-2.733804      1
-2.735118      1
-3.050512      1
Name: longitude, Length: 46807, dtype: int64

In [13]:
df['latitude'].value_counts()

\N           767
51.310946     10
52.896164     10
53.178189      9
55.318954      8
            ...
53.369771      1
53.390799      1
53.371238      1
53.361078      1
53.076638      1
Name: latitude, Length: 46810, dtype: int64

In [14]:
df.replace('\\N',np.nan,inplace=True)

In [15]:
df.isnull().sum()

fsa_id               0
name                 0
address              0
postcode             0
easting              0
northing             0
latitude           767
longitude          767
local_authority      0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df.isnull().sum()

fsa_id             0
name               0
address            0
postcode           0
easting            0
northing           0
latitude           0
longitude          0
local_authority    0
dtype: int64

In [18]:
df['latitude'] = df['latitude'].astype(float)
df['longitude'] = df['longitude'].astype(float)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50564 entries, 0 to 51330
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fsa_id           50564 non-null  int64
 1   name             50564 non-null  object
 2   address          50564 non-null  object
 3   postcode         50564 non-null  object
 4   easting          50564 non-null  int64
 5   northing         50564 non-null  int64
 6   latitude         50564 non-null  float64
 7   longitude        50564 non-null  float64
 8   local_authority  50564 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 3.9+ MB

In [20]:
df.to_csv("pub_clean.csv", index=False)